<div class="row center" ng-cloak>
    <span class="span4">

    </span>

    <span class="span4">
    <div id="joinpanel">
        <h3>Welcome to Quizzo</h3>
        <em>Please join our quiz by entering a nickname and an email address. The game will begin shortly.</em>

        <form class="panelform left">
            <p>
                <label for="nickname"><b>Nickname</b></label>
                <input type="text" 
                       ng-model="nickName"
                       id="nickname"
                       ng-change="clear_nick_bad()"
                        /> <span class="error" ng-show="showJoinError">{{joinError}}</span>

            <button id="join" ng-click="join_game(nickName)">Join</button>

            </p>
        </form>
    </span>
    <span class="span4"></span>
</div>
</div>
