<div class='row-fluid' ng-cloak>
    <span class='span12'>
    </span>
</div>

<div class='row-fluid' ng-cloak>
    <div class='span1'></div>
    <div class='span9 hero-unit'>
        <h2 class='centered-content'>Your question...</h2>
        <h1 class='centered-content'>{{question.text}}</h1>
    </div>
    <div class='span2'></div>
</div>
<div class='row-fluid' ng-cloak>
</div>
<div class='row-fluid'>
    <div class='span1'></div>
    <div class='span9'>
      <form name="voteForm" class="form-horizontal">

      <span class='span8'>


        <div ng-repeat='answer_choice in question.choices'>
            <div class='row-fluid'>
                <span class='span2'>
                        <h1 class='centered-content'>

                        <button id='vote-{{answer_choice.letter}}'
                           class="btn btn-large btn-block btn-primary"
                            ng-click='castVote(answer_choice.letter)'>
                            {{answer_choice.letter}}
                        </button>
                        </h1>
                </span>
                <span class='span1'></span>
                <span class='span8'>
                    <h2>{{answer_choice.text}}</h2>
                </span>
            </div>
        </div>
      </span>
      <span class='span4'></span>
    </form>
  </div>  
</div>
