<div class='row center' ng-cloak>
    <span class='span12'>
        <h2>Your question...</h2>
    </span>
</div>

<div class='row-fluid' ng-cloak>
    <div class='span1'></div>
    <div class='span9'>  
      <p class="lead">{{question.text}}</p>
    </div>
    <div class='span2'></div>
</div>
<div class='row center' ng-cloak>
    <span class='span12'>
      <h3>Choose an answer...</h3>
    </span>
</div>
<div class='row-fluid'>
    <div class='span1'></div>
    <div class='span9'>
      <form class="form-horizontal">

      <span class='span8'>
        <div ng-repeat='answer_choice in question.choices'>
            <span class="lead"><strong>{{answer_choice.letter}})</strong></span>&nbsp;<input type='radio' group="choicesGroup"
             ng-model='selectedChoice.value'
             name='choices'
             value='{{answer_choice.letter}}'><label class='lead'>{{answer_choice.text}}</label>
        </div>
         <button id='vote'
           ng-show='voteForm.$valid' 
           ng-click='castVote()'>Vote</button>
      </span>
      <span class='span4'></span>
    </form>
  </div>  
</div>

