html.springdata body {
	background:url("../img/springData.png");
	background-position:center;
	background-size: 100%;
}

html.springdata small {
	color: black;
}

html.springdata blockquote {
	font-size:1.5em;
	color:rgba(0,0,0,0.6);
}

html.springdata h1 {
	color:rgba(0,200,70,0.6);
}
html.springdata h3 {
	color:rgba(0,100,100,0.6);
}

html.repositories body {
	background:url("../img/repositories.png");
	background-position:center;
	background-size: 100%;
}

html.mapping body {
	background:url("../img/mapping.png");
	background-position:center;
	background-size: 100%;
}

.reveal pre code {
  font-size: 17pt;
  line-height: 18pt;
    height: auto;
    width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}