<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>State of the Art Spring Based Single Page Applications</title>

		<meta name="description" content="State of the Art Spring Based Single Page Applications">
		<meta name="author" content="Ken Rimple, David Turanski">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Custom -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

        <section data-state="springandjs">
          <h1>Modern Spring Web Applications</h1>
          <p>Why it is time to care...</p>
        </section>

        <section data-state="whatisit">
          <h1>True 3-tier client/server</h1>
          <p class="fragment">Javascript on the front-end</p>
          <p class="fragment">Spring as a smart middleware engine</p>
          <p class="fragment">Whatever we need on the backend</p>
          <img class="fragment" src="img/overall-block-intro-diagram.png"/>
        </section>

        <section data-state="why">
          <h1>Why should we care about SPA?</h1>
          <p>This is where UI innovation is happening</p>
        </section>

        <section>
          <h1>Javascript Renaissance</h1>
          <p>Tons of new tools, APIs</p>
          <p>See our JS Panel and talks for examples</p>
          <p>AngularJS talk is in this room next session!</p>
        </section>
        
        <section>
          <h1>Javascript's Good Parts</h1>
          <p>Turns out it's a functional programming language</p>
          <p>And we've been using it WRONG!</p>
        </section>

        

        <section>
          <h1>First, a trivial example</h1>
          <h3>The Game... - a "quizzo"-like application</h3>
          <em>Let's play...</em>
          <p> LINK </p>
        </section>

        <section>
          <h1>Game architecture...</h1>
        </section>

        <section>
          <h1>AngularJS</h1>
          <img src="img/angular-stack-simplified.png" />
        </section>
        <section>
          <h3>Key Components</h3>
          <ul>
            <li>Router - Routes requests in browser appropriately</li>
            <li>Controller - Sets up shared data between view and page and handles events</li>
            <li>Service - Provides stateful access to application resources, external data</li>
            <li>Directive - Provides HTML componentry</li>
            <li>Scope - shares data between view and model - is a ViewModel</li>
          </ul>
        </section>
        <section data-state="spring-and-js">
          <h1>Put it all together...</h1>
          <img src="img/full-stack-spring-angular.png"/>
        </section>
        
        <section>
          <h1>AngularJS benefits</h1>
          <h3>Bi-directional data-binding</h3>
          <h3>Model/View/Controller (ok, MVVM)</h3>
          <h3>Quite complete without being too opinionated</h3>
        </section>
        
        <section>
          <h3>Angular Modules</h3>
              <pre><code contenteditable>angular.module('quizzoApp', ['ui.bootstrap']).
  config(['$routeProvider', '$httpProvider', 
    function ($routeProvider, $httpProvider) {
    $routeProvider.
      when('/register', {
        templateUrl: 'views/assign_player.html', 
        controller: 'RegisterCtrl'
      }).
      
      when('/join_game/:gameId', {
        templateUrl: 'views/joining_game.html', 
        controller: 'JoinGameCtrl'
      }).
      ...
  }]);
              </code></pre>
            </section>
        <section>
          <h3>Controllers</h3>
          <pre><code contenteditable>angular.module('quizzoApp').controller('RegisterCtrl',
   function ($scope, $location, registerPlayerSvc) {

    $scope.$on('GoodNick', function (event, values) {
      $scope.player = registerPlayerSvc.getPlayer();
      $location.path('/show_games');
    });

    $rootScope.join_game = function (nickName) {
      registerPlayerSvc.createNickName(nickName);
    };
});</code></pre>
          </section>
          <section>
            <h3>Services</h3>
            <pre><code contenteditable>angular.module('quizzoApp').factory('registerPlayerService',
 function (serverPrefix, $location, $rootScope, $http) {
   var implementation = {};

   implementation.createPending = false;
   implementation.currentPlayer = '';

   implementation.createNickName = function (nickName) {
     ...
   };

   implementation.getPlayer = function () {
     return this.currentPlayer;
   };

   return implementation; 
};</code></pre>
              </section>
        <section>
          <h3>Calling a web service</h3>
          <pre><code contenteditable>implementation.createNickName = function (nickName) {
  var that = this;
  this.createPending = true;
  $http.defaults.withCredentials = true;
  $http.post(serverPrefix + 'player/register/' + nickName).
    success(function (data, status, headers, config) {
      if (status === 201) {
        $rootScope.badNick = false;
        that.currentPlayer = nickName;
        $rootScope.playerAndGameInformation
        $rootScope.$broadcast('GoodNick');
      } else if (status === 204) {
        ...
        $rootScope.$broadcast('BadNick');
      }
    });
  };</code></pre>
  </section>
  <section>
    <h3>Templates</h3>
    <pre><code contenteditable>&lt;form&gt;
&lt;label for=&quot;nickname&quot;&gt;&lt;b&gt;Nickname&lt;/b&gt;&lt;/label&gt;

&lt;input type=&quot;text&quot; 
   ng-model=&quot;nickName&quot;
   ng-change=&quot;clear_nick_bad()&quot; /&gt; 

&lt;span class=&quot;error&quot; 
    ng-show=&quot;showJoinError&quot;&gt;{{joinError}}&lt;/span&gt;

&lt;button ng-click=&quot;join_game(nickName)&quot;&gt;
  Join Quizzo
&lt;/button&gt;

&lt;/form&gt;</code></pre>
</section>
  <section>
    <h3>Templates</h3>
    <pre><code contenteditable>&lt;div ng-repeat=&#x27;game in gamesAvailable&#x27;&gt;
  &lt;a ng-href=&#x27;#/join_game/{{game.gameId}}&#x27;&gt;Play!&lt;/a&gt;
  : 
  &lt;p class=&#x27;lead&#x27;&gt;{{game.title}}&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>
        <section>
            <h3>Spring MVC Controller</h3>
            <pre><code contenteditable>@Controller
@RequestMapping("/player")
public class PlayerController {

  @RequestMapping(method = RequestMethod.POST, 
                   value="register/{nickName}")
   public @ResponseBody ResponseEntity<Player>
    registerUserByNickName(HttpSession session, 
       @PathVariable String nickName) {
      ...
    }
   ...
}</code></pre>
</section>
<section>
  <h3>Handling success</h3>
  <pre><code contenteditable>PlayerGameSession playerGameSession =
  getOrCreatePlayerGameSession(session);
  
playerGameSession.setPlayerId(player.getName());

responseEntity = new ResponseEntity<Player>(player, HttpStatus.CREATED);
return responseEntity;
  </code></pre>
        </section>
        <section>
          <h3>Handling failure</h3>
          <pre><code contenteditable>try {
    player = playerService.registerPlayer(nickName);
} catch (PlayerAlreadyExistsException p) {
    responseEntity = new ResponseEntity&lt;Player&gt;(
        HttpStatus.NO_CONTENT);
    return responseEntity;
}</code></pre>
</section>
<section>
  <h3>Quizzo design choices</h3>
  <ul>
    <li>Game state stored server-side</li>
    <li>Credentials and score established by client but kept on server</li>
    <li>User-specific state (what question, etc) were cached on client</li>
  </ul>
</section>
<section>
  <h3>Paying attention to server state</h3>
  <pre><code conteneteditable>angular.module('quizzoApp', 
    ['ui.bootstrap', 'angular-underscore']).
  config(['$routeProvider', '$httpProvider', 
    function ($routeProvider, $httpProvider) {
      ...
      $httpProvider.defaults.withCredentials = true;
  }]);</code></pre>
</section>
<section>
  <h1>Debugging Demo</h1>
</section>
<section>
  <h3>It could be any JS framework</h3>
  <p>See todomvc.com - Addy Osmani</p>
</section>
<section>
  <h3>Spring MVC tips</h3>
  <ul>
    <li>Use <code>ResponseEntity</code> for returning conditional values</li>
    <li>Try being RESTful where possible (POST/GET/PUT/DELETE for CRUD)</li>
    <li>Use Jackson JSON for easy JSON serialization</li>
    <li>Validate on both tiers... Ugly but necessary</li>
    <li>Don't send too much - GETs are cheap, sort/filter on server for large sets</li>
  </ul>
</section>

				<section data-state="springdata">
					<br/><br/><br/>
					<h1>Spring Data</h1>
					<h3>An Overview</h3>
					<p>
						<!-- <small>David Turanski, Sr Software Engineer VMWare/SpringSource</a> / <a href="http://twitter.com/dturanski">@dturanski</a></small> -->
					</p>
				</section>
				<section data-state="springdata">
						<span style="position:absolute; TOP:90px; LEFT:820px; WIDTH:300px">
						 <img src="img/mongodb.png" alt="Mongo DB"/>
						</span>
						<span style="position:absolute; TOP:60px; LEFT:480px; WIDTH:400px; color:rgba(0,0,0,0.6); font-size:1.0em; font-weight:bold">
						  JPA
						</span>
						<span style="position:absolute; TOP:120px; LEFT:130px; WIDTH:800px; color:rgba(0,0,0,0.6); font-size:1.0em; font-weight:bold">
						  Query DSL
						</span>
						<span style="position:absolute; TOP:200px; LEFT:130px; WIDTH:800px; color:rgba(0,0,0,0.6); font-size:1.0em; font-weight:bold">
						  JDBC
						</span>
						<span style="position:absolute; TOP:0px; LEFT:300px; WIDTH:300px">
						  <img src="img/redis.png" alt="Hadoop"/>
						</span>
						<span style="position:absolute; TOP:250px; LEFT:250px; WIDTH:200px">
						 <img src="img/hbase.png" alt="HBASE"/>
						</span>
						<span style="position:absolute; TOP:300px; LEFT:620px; WIDTH:300px">
						  <img src="img/neo4j.png" alt="Neo4J"/>
						 </span>
						 <span style="position:absolute; TOP:100px; LEFT:700px; WIDTH:100px">
						  <img src="img/gemfire.png" alt="GemFire"/>
						  GemFire
						 </span>
						 <span style="position:absolute; TOP:0px; LEFT:720px; WIDTH:300px">
						  <img src="img/hadoop.png" alt="Hadoop"/>
						 </span>
 						<span style="position:absolute; TOP:-50px; LEFT:-280px; WIDTH:720px;">
							<blockquote>
						… provide a familiar and consistent Spring based programming model while retaining store-specific features and capabilities
						</blockquote>
					</span>
				</section>

				<section data-state="repositories">
					 <span style="position:absolute; TOP:-200px; LEFT:-200px; WIDTH:600px;
					 ">
						  <h1>Repositories</h1>
					 </span>
				</section>	
				<section >
					<h3>Repository</h3>
					<blockquote cite="http://martinfowler.com/eaaCatalog/repository.html 
">Mediates between the domain and data mapping layers using a collection-like interface for accessing domain objects.</blockquote>
					<a href="http://martinfowler.com/eaaCatalog/repository.html">Martin Fowler</a>
					<a class="image" href="http://msdn.microsoft.com/en-us/library/ff649690.aspx" target="_blank">
						<img src="img/repository-schematic.png"/>
					</a>
					
				</section>	
				<section>
					 <span style="position:absolute; TOP:-250px; LEFT:0px; WIDTH:1000px">
					 	 <p>Spring Data CRUD Repository - You get this out of the box.</p>
					     <pre><code>
public interface CrudRepository&lt;T, ID extends Serializable&gt; extends Repository&lt;T, ID&gt; {
	&lt;S extends T&gt; S save(S entity);
	&lt;S extends T&gt; Iterable&lt;S&gt; save(Iterable&lt;S&gt; entities);
	T findOne(ID id);
	boolean exists(ID id);
	Iterable&lt;T&gt; findAll();
	Iterable&lt;T&gt; findAll(Iterable&lt;ID&gt; ids);
	long count();
	void delete(ID id);
	void delete(T entity);
	void delete(Iterable&lt;? extends T&gt; entities);
	void deleteAll();
}
					     </code></pre>
					 </span>
				</section>
				<section>
					 <span style="position:absolute; TOP:-250px; LEFT:-150px; WIDTH:1200px">
					 	 <p>Query Methods</p>
						<img src="img/query-methods.png"/>
						<p>Also: StartsWith, EndsWith, Contains, After, Before</p>
					 </span>
				</section>
				<section>
				
					 	 <p>PlayerAnswerRepository</p>
					 	 <pre><code>
public interface PlayerAnswerRepository extends MongoRepository&lt;PlayerAnswer,BigInteger&gt;, PlayerAnswerRepositoryCustom {
	public List&lt;PlayerAnswer&gt; findByQuizId(String quizId);
	public List&lt;PlayerAnswer&gt; findByGameId(String gameId);
	public List&lt;PlayerAnswer&gt; findByGameIdAndPlayerId(String gameId, String playerId);
	public PlayerAnswer findByGameIdAndPlayerIdAndQuestionNumber(String gameId, String playerId, int questionNumber);
	public List&lt;PlayerAnswer&gt; findByGameIdAndQuestionNumber(String gameId, int questionNumber);
}
					 	 </pre></code>
				</section>

				<section data-state="mapping">
					 <span style="position:absolute; TOP:-200px; LEFT:-200px; WIDTH:600px;
					 ">
						  <h1>Mapping</h1>
					 </span>
					 <p>Spring Data provids store-specific annotations for domain classes<p>
				</section>
				<section>
					<h3>Questions?</h3>
					<img src="img/questions.png"/>
				</section>
				<section>
					<p>More Information</p>
					<span style="font-size:0.75em;">
					<table width="100%">
						<tr>
							<td>Spring Data Project Page</td>
							<td>
								<a href="http://www.springsource.org/spring-data">http://www.springsource.org/spring-data</a>
							</td>
						</tr>
						<tr>
							<td>
							<img src="img/spring-data-book.gif"/>
							</td>
							<td>
								<a href="http://shop.oreilly.com/product/0636920024767.do">http://shop.oreilly.com/product/0636920024767.do</a>
							</td>
						</tr><tr>
							<td>Source Code</td>
							<td>
								<a href="http://github.com/SpringSource">http://github.com/SpringSource</a>
							</td>
						</tr>
					</table>
				</span>
				</section>
				<section>
					<p>Spring Integration Flow for WebSockets</p>
					<img src="img/websocket-si-flow.png" width="1500"/>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
