<div class="row center" ng-cloak>
    <span class="span12">
        <h1>Next question...</h1>
    </span>
</div>
<div class="row center" ng-cloak>
    <span class="span3 tally">
        <h5>High Scores</h5>
        <hr/>
        <span ng-repeat="score in top_scores">
           {{$index + 1}} - {{score}}
            <br/>
        </span>
    </span>
    <span class="span1"></span>
    <span class="hero-unit span4 question">
            {{question}}
    </span>
    <span class="span1"></span>
</div>

<div class="row center" ng-cloak>
    <span class="span4"></span>
    <span class="span4">
        <span ng-repeat="choice in choices">
            <label for="choice_{{$index}}" class="choice_label">{{choice.label}}</label>
            <input id="choice_{{$index}}" type="checkbox" ng-model="{{choice.selected}}" value="{{choice.selected}}"/>
            <br/>
        </span>
    </span>
    <span class="span4"></span>
</div>

<div class="row center" ng-cloak>
    <span class="span4"></span>
    <span class="span4">
        <div id="actionbar">
            <button id="vote" ng-click="vote()">Vote</button>
            <button id="quit" ng-click="quit()">Quit Game</button>
        </div>
    </span>
    <span class="span4"></span>
</div>

<div class="row center" ng-show="messages != Undefined">
    <div class="span1"></div>
    <div id="player-messages" class="span10">
        <h3>Messages...</h3>
        <ul ng-repeat="message in messages">
            <li>{{message}}</li>
        </ul>
    </div>
    <div class="span1"></div>
</div>
